.contact-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding-bottom: 75px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

.contact-items{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contact-items-subtitle{
  color: rgb(146, 155, 167);
  font-size: 2rem;
}

.contact-items-title{
  color: white;
  text-transform: none;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.contact-items-buttons{
  display: flex;
  width: 280px;
  justify-content: space-between;
  position: relative;
}

.contact-items-buttons a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.contact-items-buttons a:hover{
  opacity: 0.7;
}


/*  EMAIL BUTTON  */

.contact-items-email{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  background: #241711;
  border: solid #FC9D71 3px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.contact-items-email:hover{
  background: #180f0b;
  color: #ffd3bf;
}

.contact-items-email:active{
  background: #080504;
  color: #fdb492;
  transform: scale(0.98);
}


/*  LINKEDIN BUTTON  */

.contact-items-linkedin{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  background: #001d2c;
  border: solid #0274B3 3px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.contact-items-linkedin:hover{
  background: #00111b;
  color: #a3dfff;

}

.contact-items-linkedin:active{
  background: #00090e;
  color: #78cffd;
  transform: scale(0.98);
}


/*  PHONE BUTTON  */

.contact-items-phone{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  background: rgb(19, 42, 29);
  border: solid rgb(97, 251, 161) 3px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.contact-items-phone:hover{
  background: rgb(15, 32, 23);
  color: rgb(194, 255, 219);
}

.contact-items-phone:active{
  background: rgb(3, 7, 5);
  color: rgb(140, 252, 205);
  transform: scale(0.98);
}


/*  POP UP  */

.contact-popup{
  position: absolute;
  width: 280px;
  top: 110px;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.082);
  align-items: center;
}

.contact-popup-title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-popup-title h3{
  margin: 0;
  font-size: 13px;
  cursor: pointer;
}

.contact-popup h3:hover{
 opacity: 0.7;
}

.contact-popup h3:active{
  opacity: 0.5;
 }


/*  ACTION BUTTON  */

.contact-popup-action{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  display: flex;
  width: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.contact-popup-action:hover{
  opacity: 0.7
}

.contact-popup-action:active{
  opacity: 0.5
}


/*  COPY NOTIFICATION  */

.contact-copy-notification {
  display: flex;
  text-align: center;
  background: white;
  transition: all 0.5s ease;
  border-radius: 0px 2px 2px 0px;
  font-size: 13pt;
  transform: translateX(-200%);
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: 10%;
  animation: notificationSlide 2s ease-in-out forwards;
}

.contact-copy-notification:focus {
  background-position: left bottom;
  color: black;
}

@keyframes notificationSlide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  80% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* .__react_component_tooltip{
  display: none;
} */

.contact-tooltip{
  display: flex;
}

.contact-popup::after{
  content: "";
  background: red;
  position: absolute;
  width: 280px;
  top: 150px;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.082);
  align-items: center;
  border-radius: 5px;
}