.home-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 75px;
  box-sizing: border-box;
  padding: 0px 5rem;
}

/* Typist - Text Animation */

.home-titles-wrapper{
  display: flex;
  flex-direction: column;
  top: 30%;
  z-index: 1;
}

.home-titles-wrapper h1{
  color: white;
  font-size: 4rem;
  width: fit-content;
  transition: all 0.5s;
}

.home-titles-wrapper h2{
  color: rgb(141, 141, 141);
  font-size: 4rem;
  width: fit-content;
  transition: all 0.5s;
}

.home-typist {
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 50px;
  width: fit-content;
  transition: all 0.5s;
}

.home-typist-first, .home-typist-second {
  font-family: Firacode ,source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: white;
  font-weight: 200;
  font-size: 1rem;
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glow 5s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 0.3px #fff, 0 0 0.4px #fff, 0 0 0.5px #dbecff, 0 0 0.6px #dbecff, 0 0 0.7px #dbecff, 0 0 0.8px #dbecff, 0 0 0.9px #dbecff;
  }
  
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #c6e1ff2a, 0 0 3px #c6e1ff2a, 0 0 4px #c6e1ff2a, 0 0 5px #c6e1ff2a, 0 0 6px #c6e1ff2a, 0 0 7px #c6e1ff2a;
  }
}

/* Projects Button */

.home-projects-button {
  display: flex;
  height: 60px;
  width: 210px;
  background: #4353ff;
  color: white;
  font-size: 1.2rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  box-sizing: border-box;
  padding: 0px 10px;
  transition: all 0.2s;
}

.home-projects-button:hover{
  background: #2b36b6;
}

.home-projects-button:active{
  background: #1b2274;
  color: rgb(219, 219, 219);
  transform: scale(0.98);
}

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Shapes */

.home-shapes-wrapper{
  display: flex;
  position: relative;
  margin-right: -50px;
  margin-bottom: -100px;
  margin-left: 10rem;
  width: 600px;
  height: 600px;
}

.home-shapes-background-circle{
  background: #171d33;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin-right: -100px;
  margin-bottom: -100px;
}

.home-shapes-square-1{
  position: absolute;
  height: 105px;
  width: 105px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 250px;
  right: 0;
  -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-2{
  position: absolute;
  height: 60px;
  width: 60px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 410px;
  right: 100px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-3{
  position: absolute;
  height: 80px;
  width: 80px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 110px;
  right: 120px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-4{
  position: absolute;
  height: 250px;
  width: 250px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 140px;
  right: 180px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-5{
  position: absolute;
  height: 90px;
  width: 200px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 0;
  right: 300px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-6{
  position: absolute;
  height: 125px;
  width: 125px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 220px;
  right: 360px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-7{
  position: absolute;
  height: 45px;
  width: 45px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 420px;
  right: 440px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}

.home-shapes-square-8{
  position: absolute;
  height: 60px;
  width: 60px;
  background: linear-gradient(-45deg, #27318d, #3944ad, #3d7fd5);
  top: 150px;
  right: 520px;
    -webkit-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
  box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.15);
}





/* RESPONSIVE QUERIES */

@media screen and (max-width: 1000px){

  .home-container {
    justify-content: center;
  }

  .home-titles-wrapper{
    align-items: center;
    text-align: center;
  }

  .home-shapes-wrapper{
    position: absolute;
    opacity: 0.1;
  }
  
}

@media screen and (max-width: 500px) {


  .home-container {
    justify-content: center;
  }

  .home-typist-wrapper{
    top: 25%;
  }

  .home-typist {
    margin-top: 0;
    padding: 20px;
  }

  .home-projects-button {
    display: flex;
  }

  .home-projects-button {
    margin: 0;
  }
}